#MONGO_AUTH=0 # If require authentication set to 1
#MONGO_ADMIN=admin # Initial admin username
#MONGO_ADMIN_PASSWORD=your_admin_passwd
#MONGO_USER=your_db_username
#MONGO_PASSWORD=your_db_passwd
#MONGO_DATABASE=your_db_name
